/* ----------------------- Global CSS ----------------------- */
:root {
    --main-accent-color: #EE3150;
    --main-darker-accent-color: #921631;
    --h1-font-size: 80px;
    --h2-font-size: 50px;
    --h3-font-size: 40px;
    --h4-font-size: 35px;
    --h5-font-size: 30px;
}

/* Initial CSS Setting*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", "Impact", serif;
}

body
{
    background-color: black;
}

section
{
    padding: 5vw 0;
}

header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    min-height: 10%;
    padding: 0vw 2vw;
    position: absolute;
    box-shadow: 0px 3px 3px 1px rgba(0, 0 , 0, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
}

img
{
    user-select: none;
}

/* ----------------------- CSS for all Sections ----------------------- */

#sectionTitle
{
    user-select: none;
    padding: 0 20px;
    text-indent: 20px;
    font-size: var(--h1-font-size);
    color: white;
}

.anchor
{
    top: -120px;
    position: relative;
    display: block;
    visibility: hidden;
}

.sectionCenter
{
    width: 80%;
    margin: auto;
}

.sectionCenter p
{
    font-size: var(--h5-font-size);
}

/* ----------------------- NavBar CSS ----------------------- */
.navBar
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.navName
{
    font-size: 5vw;
}

img.navLogo
{
    height: 5vw;
    min-height: 50px;
    margin: 20px 20px;
}

.navMenu
{
    align-self: flex-end;
    padding: 10px 0px;
}

nav li
{
    list-style-type: none;
    display: inline;
}

nav li a
{
    color: black;
    font-size: 2.5vw;
    padding: 10px 20px 0;
    text-decoration: none;
    border-bottom: var(--main-accent-color) 10px solid;
}

nav li a:hover
{
    color: white;
    background-color: var(--main-accent-color);
    border-radius: 10px 0 0 0;
    border-bottom: black 10px solid;
}

/* ----------------------- Hero Banner Section CSS ----------------------- */
#heroSection
{
    user-select: none;
    display: flex;
    justify-content: space-between;
    background: url("HeroBanner.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 3px 1px rgba(0, 0 , 0, 0.5);
}

.heroTitle
{
    font-size: 18vw;
    text-shadow: var(--main-accent-color) 2px 2px;
}

.heroContent
{
    display: flex;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.heroDescription
{
    color: rgb(255, 255, 255);
    font-size: 4vw;
    width: 100%;
    padding: 4vw;
    justify-items: flex-end;
}

.heroGradient
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

/* ----------------------- CSS for Buttons ----------------------- */
button, #exploreButton
{
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--main-accent-color);
    color: white;
    font-size: 3vw;
    border: none;
    border-radius: 10px;
}

button:hover, #exploreButton:hover
{
    background-color: var(--main-darker-accent-color);
}

button#toggle
{
    padding: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    display: none;
}

/* ----------------------- Card Section CSS ----------------------- */
#cardSection
{
    width: 100%;
    background-color: black;
}

.cards
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.card
{
    background-color: var(--main-accent-color);
    padding: 2vw;
    border-radius: 8px;
    width: 25vw;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
}

.card h2
{
    color: white;
    font-size: var(--h2-font-size);

}

.card h3
{
    text-decoration: underline;
    font-size: var(--h3-font-size);

}

.card h5
{
    color: white;
    font-size: var(--h5-font-size);
}

.card ul
{
    list-style: none;
}

.card ul li
{
    margin: 20px 0;
}

.card p
{
    text-indent: 20px;
    font-size: 20px;
}

.card-button
{
    color: white;
    width: 150px;
    background-color: rgb(74, 69, 94);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
    border: 1px solid transparent;
}

.card-button:hover
{
    border: 1px solid rgb(74, 69, 94);
    color: rgb(74, 69, 94);
    background-color: white;
}

.card-elevation
{
    box-shadow: 10px 10px 1px 0px rgba(255, 255, 255, 0.795);
}

.cardImage
{
    width: 100%;
}

.cardImage img
{
    width: 100%;
    height: 19vw;
    object-fit: cover;
    object-position: 50% 40%;
}

/* ----------------------- Content Section CSS ----------------------- */
#contentSection
{
    width: 100%;
    margin: auto;
    background-color: var(--main-accent-color);
}

.illustrations
{
    user-select: none;
    background-color: white;
    display: grid;
    margin: 0 10%;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "one four four four"
    "one four four four"
    "two five five zero"
    "two five five zero"
    "three three three three"
    "three three three three";
}

.zero
{
    grid-area: zero;
}

.one
{
    grid-area: one;
}

.two
{
    grid-area: two;
}

.three
{
    grid-area: three;
}

.four
{
    grid-area: four;
}

.five
{
    grid-area: five;
}

.gridImage 
{
    height: 100%;
    border: black 10px solid;
    overflow: hidden;
}

.gridImage img 
{
    overflow: hidden;
    min-height: 100%;
    max-width: 100%;
}

/* ----------------------- Video Section CSS ----------------------- */
#videoSection
{
    color: white;
    background-color: black;
    width: 100%;
    position: relative;
    z-index: 0;
}

#videoSection video
{
    width: 80%;
    margin: 0 10%;
    position: relative;
    z-index: 1;
}

/* ----------------------- Contact Me Section CSS ----------------------- */
#contactSection
{
    width: 100%;
    background-color: white;
}

#contactSection > div > h1
{
    color: black;
}

.contactTable
{
    font-size: 3vw;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.contactTable table
{
    width: 100%;
}

.contactTable table tr td
{
    text-align: start;
}

.contactTable table tr td.link
{
    text-align: end;
}

.link a
{
    text-decoration: none;
    color: var(--main-accent-color);
}

.link a:hover
{
    color: #921631;
}

/* ----------------------- Footer Section CSS ----------------------- */
footer
{
    width: 100%;
    padding: 5vh 0;
    text-align: center;
    background-color: var(--main-accent-color);
    color: white;
    overflow: hidden;
}

footer a
{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

footer a:hover
{
    color: white;
}

/* ----------------------- Media Responsive CSS ----------------------- */

/* CSS for Tablet Screens -- 1000px -- */
@media only screen and (max-width: 1000px)
{
    button#toggle
    {
        display: block;
        font-size: var(--h3-font-size);
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        margin: 50px 5%;
    }

    button#toggle.active
    {
        background-color: var(--main-darker-accent-color);
    }

    .navBar
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .navName
    {
        margin-top: -10px;
    }

    header
    {
        position: fixed;
    }

    #menu
    {
        display: none;
    }

    #menu.active
    {
        width: 100%;
        margin: -200px auto;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: transparent 100px 100px solid;
        border-radius: 30px 0 30px 0;
    }

    nav li
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav li a
    {
        font-size: 30px;
    }

    .cards
    {
        flex-direction: column;
        gap: 30px;
    }

    .card
    {
        width: 80%;
        height: auto;
        margin: auto;
    }

    .cardImage img
    {
        width: 80%;
        margin: 10%;
        height: auto;
        object-fit: cover;
        object-position: 50% 40%;
    }

    #cardSection
    {
        height: auto;
    }

    .heroContent
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .heroTitle
    {
        width: 100%;
        font-size: var(--h1-font-size);
    }

    .heroDescription
    {
        justify-items: center;
        gap: 20px;
    }
}

/* CSS for Mobile Screens --- 570px */
@media only screen and (max-width: 570px)
{
    h1
    {
        font-size: 10vw;
    }

    button#toggle
    {
        display: block;
        font-size: var(--h3-font-size);
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        margin: 50px 5%;
    }

    button#toggle.active
    {
        background-color: var(--main-darker-accent-color);
    }

    header
    {
        position: fixed;
    }

    .navBar
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
    }


    #menu
    {
        display: none;
    }

    #menu.active
    {
        width: 100%;
        margin: -200px auto;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: transparent 100px 100px solid;
        border-radius: 30px 0 30px 0;

    }

    nav li
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav li a
    {
        font-size: 30px;
    }

    .cards
    {
        flex-direction: column;
        gap: 30px;
    }

    .card
    {
        width: 80%;
        height: auto;
        margin: auto;
    }

    .cardImage img
    {
        width: 80%;
        margin: 10%;
        height: auto;
        object-fit: cover;
        object-position: 50% 40%;
    }

    #cardSection
    {
        height: auto;
    }

    .heroContent
    {
        flex-direction: column;
    }

    .heroTitle
    {
        padding: 10px 10px;
    }

    .heroDescription
    {
        font-size: 20px;
        gap: 20px;
    }

    .contactTable table
    {
        font-size: 20px;
    }
}
