/* CSS ID's
================================================
*/


/* global CSS elements in the Body
================================================
*/
html
{
    font-family: 'Futura';
}

a
{
    text-decoration: none;
}

body
{
    width: 100%;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    background-color: #312e2e;
}

.pageTitle
{
    font-size: 2em;
    width: 80%;
    margin-left: 10%;
    text-align: left;
    font-family: 'Didot';
    color:#ffffff;
}

.mainBody
{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10%;

}

.sectionDiv
{
    padding-bottom: 2em;
    padding-left: 5%;
    padding-right: 5%;
    border: 3px, solid, #000;
}

.sectionTitle
{
    font-family: 'Didot';
    font-weight: bold;
}

.blockDiv
{
    padding: 2%;
    background-color: rgb(255, 224, 229);
    text-align: center;
}

.inlineSpan
{
    border: 5px solid black;
    color: red;
}

/* CSS section for the table example under the 'table' section
================================================
*/
.tableExample
{
    display: flex;
    flex-wrap: wrap;
}


/* CSS section for the rose picture under the IMG section 
================================================
*/
.rosePicture
{
    width: 30%;
}

.contactTable
{
    width: 90%;
    margin: 5%;
}

.inputTable
{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 20%;
    text-align: end;
}

.inputBox
{
    width: 50%;
    text-align: start;
    padding-left: 2%;
}

.inputBox > input[type="text"]
{
    width: 100%;
}

.inputBox > input[type="tel"]
{
    width: 100%;
}

.inputBox > textarea
{
    size: 30;
}

.mapFrame
{
    width: 60%;
    padding-right: 5%;
}

.mapFrame iframe
{
    border-style: none;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.sendButton
{
    font-family: 'Didot';
    color: white;
    background-color: #1d1c1c;
    text-decoration: none;
    border: white 2px solid;
    padding-top: 1%;
    padding-bottom: 1%;
}

.sendButton:hover
{
    background-color: #6783ad; 
}

/* CSS section for the rose picture banner on the Home Page
================================================
*/
.mainBanner
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1518895949257-7621c3c786d7?q=80&w=2488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: 10% 25%;
    background-size: cover;
    position: relative;
    color: white;
}

.textContainer
{
    width: 90%;
    margin-left: 5%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.textContainer h1
{
    font-family: 'Didot';
    width: inherit;
    font-size: 7em;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

.textContainer h3
{
    font-size: 1em;
    width: inherit;
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
    margin: auto;
    padding-top: 2%;
}

.textContainer p
{
    text-align: center;
}

/* CSS for Main Footer 
================================================
*/
.copyright
{
    font-size: 0.4em;
    text-align: center;
}

.copyright a
{
    color:#6783ad;
}

.mainFooter
{
    padding-top: 1%;
    width: inherit;
    background-color: #1d1c1c;
    height: 15em;
}

.footerTable
{
    font-family: 'Didot';
    width: 100%;
}

.footerTable tr th
{
    font-weight: bold;
    color: white;
    text-align: left;
    padding-left: 5%;
}

.footerTable tr td
{
    color: white;
    padding-left: 5%;
    text-align: justify;
    text-justify: inter-word;
    width: 33%;
}

.footerTable button
{
    font-family: 'Didot';
    color: white;
    background-color: #1d1c1c;
    text-decoration: none;
    border: white 2px solid;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footerTable button:hover
{
    background-color: #6783ad;
}

.hours > div
{
    display: inline-block;
    text-align: right;
}

.newsletterType
{
    font-family: 'Didot';
    width: 40%;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border: rgb(255, 255, 255) 2px solid;
}

.newsletterType:hover
{
    background-color: #6783ad;
    color: white;
}

.socialMediaLinks a
{
    color: #6783ad;
    display: flex;
    flex-direction: column;
}

.socialMediaLinks a:hover
{
    text-decoration: none;
    color:#d9aab9;
}

/* CSS for NavBar at the header 
================================================
*/
.mainNavbar
{
    display: flex;
    list-style-type: none;
    background-color: #1d1c1c;
}

.mainNavbar .active
{
    background-color: rgb(93, 137, 225);
    color: #000;
}

.mainNavbar a
{
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(254, 216, 216);
    padding: 0.5em 1em;
    background-color: #1d1c1c;
}

.mainNavbar a:hover:not(.active)
{
    background-color: #6783ad;
}


/* CSS for NavBar on tags.html
================================================
*/
.navbarHTMLTags
{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    top: 0;
    background-color: #b4a4a9;
}

.navbarHTMLTags a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.5em 0.5em;
    background-color: #b4a4a9;
}

.navbarHTMLTags a:hover
{
    background-color: #d9aab9;
}

/* CSS for JavaScript Page
================================================
*/

.colourSelector p
{
    border: #000 solid 1px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}


/* Responsiveness for screens less than 1100px
================================================
*/
@media screen and (max-width: 1100px)
{

    .textContainer h1
    {
        font-size: 6em;
    }

    .tableExample tr th h1
    {
        font-size: 20px;
    }
}

/* Responsiveness for screens less than 700px
================================================
*/
@media screen and (max-width: 700px)
{
    .hours
    {
        font-size: 0.7em;
    }

    .mainNavbar
    {
        flex-direction: column;
        background-color: white;
    }

    .navbarHTMLTags
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .textContainer h1
    {
        font-size: 5em;
    }

    .textContainer h3
    {
        font-size: 0.8em;
    }

}